astroid==2.6.6
autopep8==1.5.7
click==8.0.1
Flask==2.0.1
Flask-WTF==0.15.1
gunicorn==20.1.0
isort==5.9.3
itsdangerous==2.0.1
Jinja2==3.0.1
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
mypy==0.910
mypy-extensions==0.4.3
mysql-connector-python==8.0.26
passlib==1.7.4
protobuf==3.17.3
pycodestyle==2.7.0
pylint==2.9.6
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.0
Werkzeug==2.0.1
wrapt==1.12.1
WTForms==2.3.3
