<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Books</title>
</head>
<body>
    <!-- Menu -->
    <a href="/list_book">List Books</a>
    <a href="/add_book">Add Books</a>
    <!-- Menu -->
    <br><br>
    <form action="" method="post">
        <label for="">
            Book name
        </label>
        <input type="text" name="Book_name">
        <br><br>
        <label for="">
            Author name
        </label>
        <input type="text" name="Author_name">
        <br><br>
        <label for="">
            Book Pages
        </label>
        <input type="text" name="Book_pages">
        <br><br>
        <label for="">
            Book Price
        </label>
        <input type="text" name="Book_price">
        <br><br>
        <button type="submit">Submit</button>
    </form>
</html>