<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <!-- Menu -->
    <a href="/list_book">List Book</a>
    <a href="/add_book">Add Book</a>
    <!-- Menu -->
    <br>
    <br>
    <table>
        <tr>
            <th>ID</th>
            <th>Book Name</th>
            <th>Book Pages</th>
            <th>Book Price</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>
                {{item[0]}}
            </td>
            <td>
                {{item[1]}}
            </td>
            <td>
                {{item[2]}}
            </td>
            <td>
                {{item[3]}}
            </td>
        </tr>
        
        {% endfor %}
    </table>
    <button type="submit">Remove</button>
</body>
</html>